

.option-box .gear-check,
.navbar,
.dropdown-menu > li > a,
.carousel-indicators .active,
.scroll-top

{
    background-color: rgb(19, 62, 204);

}


.subscribe .btn,
.our-skills .info .btn,
.contact-us button
{
    background-color:rgba(19, 62, 204, 0.8);

}


.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span

{
    color:rgba(19, 62, 204, 0.85);
}


.testimonials .carousel-indicators li.active,
.option-box .color-option
{
   
    border:2px solid rgba(19, 62, 204, 0.7);

}































