@media (max-width:767px)
{
    
    .our-team .team .member
    {
        margin-bottom: 15px;
    }
    .subscribe .form-control
    {
        width:410px;
        margin:10px auto;
    }

    .subscribe .btn 
    {
        margin:10px auto;
    }

}

@media (min-width:768px) and (max-width:991px)
{
    
}

@media (min-width:992px) and (max-width:1199px)
{
   
}

@media (min-width:1200px)
{
   
} 