
@media (max-width:1199px)
{
    
    .our-team .team .member
    {
        margin-bottom: 40px;
    }

}




@media (max-width:991px)
{
    
    .our-skills h3{
        margin-top: 40px;
    }

}



@media (max-width:767px)
{
    
    .price .price-box{
        width: 50%;
        margin: 15px auto;
    }
    

    .subscribe .form-control
    {
        width:410px;
        margin:10px auto;
    }

    .subscribe .btn 
    {
        margin:10px auto;
    }

}



@media (max-width:500px){


    .price .price-box{
        width: 75%;
        margin: 15px auto;
    }

    .testimonials{
        padding-bottom: 100px;
    }


    .testimonials .carousel-indicators{
        bottom: -160px;
    }

    .testimonials .carousel-inner .item{
        margin-bottom: 30px;
    }





}



